/* ########################### Browser reset ########################### */
html {
  height: 100%;
}
body,
body * {
  outline: 0;
  border: 0 none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  list-style-type: none;
}
/* ########### for IE versions lower than 9 ... ################### */
.oldie header,
.oldie hgroup,
.oldie nav,
.oldie main,
.oldie section,
.oldie article,
.oldie aside,
.oldie footer {
  display: block;
}
.oldie main,
.oldie header > .wrapper,
.oldie .footerbase > .wrapper {
  width: 650px;
}
.oldie .team li {
  width: 100%;
}
/* ############################# icons ############################# */
.icon {
  width: 28px;
  height: 28px;
  display: block;
}
.icon-facebook {
  background-image: url('../images/icons_social.svg');
  background-size: 112px 28px;
  background-repeat: no-repeat;
  background-position: -28px 0;
}
.icon-twitter {
  background-image: url('../images/icons_social.svg');
  background-size: 112px 28px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.icon-pinterest {
  background-image: url('../images/icons_social.svg');
  background-size: 112px 28px;
  background-repeat: no-repeat;
  background-position: -56px 0;
}
.icon-googleplus {
  background-image: url('../images/icons_social.svg');
  background-size: 112px 28px;
  background-repeat: no-repeat;
  background-position: -84px 0;
}
.icon-menu-bars {
  background-image: url('../images/icons_menu.svg');
  background-size: 28px 23px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.required {
  background-image: url(../images/important.png);
  /* so I could move it exactly where I wanted it*/
  background-repeat: no-repeat;
  background-position: 3px 3px;
  color: #ff6600;
}
.success {
  background-image: url(../images/success.png);
  /* so I could move it exactly where I wanted it*/
  background-repeat: no-repeat;
  background-position: 97% center;
}
.error {
  background-image: url(../images/error.png);
  /* so I could move it exactly where I wanted it*/
  background-repeat: no-repeat;
  background-position: 97% center;
}
/* ############################# main tags ############################# */
body {
  background-image: url(../images/blue-sky_Vertical-tile.jpeg);
  background-repeat: repeat-y;
  background-size: cover;
  background-color: #538ce6;
  /* colour fallback just in case */
  height: 100%;
}
a {
  text-decoration: none;
  color: #538ce6;
}
header {
  width: 100%;
  height: 90px;
  background-color: #111437;
}
nav {
  float: right;
  /* needed to pull nav right*/
  height: 25px;
  font-weight: bolder;
  margin-top: -3px;
}
main {
  min-height: 90%;
  margin: auto;
  background-color: #ededed;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.21);
  padding: 23px;
  bottom: 0;
}
main,
header > .wrapper,
.footerbase > .wrapper {
  width: 1152px;
}
@media screen and (max-width: 1500px) {
  main,
  header > .wrapper,
  .footerbase > .wrapper {
    width: 900px;
  }
}
@media screen and (max-width: 1000px) {
  main,
  header > .wrapper,
  .footerbase > .wrapper {
    width: 100%;
    display: block;
  }
}
hgroup {
  min-height: 48px;
}
h1,
h2,
h3 {
  vertical-align: middle;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0.3em 0 0.3em 0;
}
h2,
h3 {
  color: #111437;
}
h1 {
  color: #ff6600;
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.5em;
}
img {
  width: 100%;
  height: auto;
}
fieldset {
  margin-top: 13px;
  margin-bottom: 13px;
}
input,
textarea {
  display: block;
  width: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 2px 8px 2px 8px;
  border: 1px solid #111437;
  border-radius: 12px;
  box-shadow: 0 0 9px #d5c0b4 inset;
}
label,
select {
  display: table-cell;
}
label {
  width: 15%;
}
select {
  width: 100%;
  height: 2em;
  color: #111437;
  font-weight: bold;
  background-color: white;
}
textarea {
  max-width: 220px;
}
/* ----------------------------- footer related ----------------------------- */
footer {
  width: 100%;
  height: 90px;
  background-color: #111437;
}
.footerbase {
  width: inherit;
  color: white;
}
.footerbase > .wrapper {
  padding: 30px 0;
  margin: auto;
}
.copyright,
div.sitemap {
  margin-top: 12px;
  float: left;
  margin-right: 30px;
}
.social_links {
  float: right;
}
.social_links span {
  float: right;
  margin-left: 5px;
}
/* ############################# broad use classes  ############################# */
.arrow_right {
  /* Thanks to css-tricks.com/snippets/css/css-triangle/ Note: must be block element*/
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #111437;
  transition: all 0.5s;
}
.arrow_left {
  /* Thanks to css-tricks.com/snippets/css/css-triangle/ Note: must be block element*/
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #111437;
  transition: all 0.5s;
}
/* #############################  ############################# */
.input.wrapper {
  display: table;
  width: 100%;
  padding-left: 0.5em;
  background-color: lightgrey;
}
header > .wrapper {
  position: relative;
  /*needed to pull nav to right*/
  margin: auto;
  height: 100%;
}
header .logo {
  vertical-align: bottom;
  margin: 0 1px 10px -12px;
  padding: 10px;
  width: 25%;
  height: 60px;
}
/* ----------------------------- nav related ----------------------------- */
.tab,
.current {
  display: inline;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.tab {
  padding: 5px;
  text-transform: uppercase;
  color: #aaeeff;
}
.tab:hover {
  transition: all ease 0.8s;
  background-color: rgba(237, 237, 237, 0.5);
  color: #ac0000;
}
.tab:active {
  transition: all ease 0.3s;
  color: #f06000;
  background-color: #e5e5e5;
}
.current {
  color: #ff6600;
  background-color: #ededed;
}
.mobile_menu {
  display: none;
}
nav li {
  height: inherit;
  float: left;
  margin-left: 10px;
}
header .wrapper:after,
footer .wrapper:after {
  content: '';
  display: block;
  clear: both;
}
/* #############################   IDS   ############################# */
#map-canvas {
  width: 100%;
  height: 20em;
  background-color: #A0C3FF;
}
/* ############################# page specific classes ############################# */
/* ----------------------------- home page ----------------------------- */
.button.CTA {
  margin-left: 1em;
  margin-top: 1em;
  float: right;
  font-size: 22px;
}
div.CTA {
  /* hack for CTA*/
  height: 60px;
}
.title {
  font-size: 22px;
}
main.home {
  padding-top: 15em;
  background-color: transparent;
  box-shadow: none;
  min-height: 900px;
}
.home > div {
  width: 420px;
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  background-color: rgba(237, 237, 237, 0.5);
  font-size: 20px;
}
.home > img {
  display: block;
  margin: auto;
  width: 400px;
}
/* ----------------------------- flights page ----------------------------- */
.flights > h1 {
  margin-bottom: 2em;
}
main.flights {
  min-height: 950px;
}
/*----------------------------- about us page -----------------------------*/
main.about {
  background-color: transparent;
  padding: 0;
}
main.about section.intro {
  padding: 1em 6em 1em 6em;
  background-color: #ededed;
}
main.about .solid {
  background-color: #ededed;
  padding: 1em 6em 1em 6em;
  margin: 0;
}
main.about > img {
  width: 60%;
  margin: 0 20% -4px 20%;
}
.about section {
  margin-top: 0;
  margin-bottom: 7em;
}
.about p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.about li {
  margin-top: 2em;
  margin-bottom: 2em;
}
.intro > p {
  font-size: 20px;
}
.team img {
  width: 100%;
}
.team li {
  width: 40%;
  margin: 2.5% 5% 2.5% 0;
  display: inline-block;
  vertical-align: top;
}
.team li h3 {
  height: 70px;
}
/* ----------------------------- contact page ----------------------------- */
.label,
.description {
  color: #111437;
}
.contact .label {
  margin-right: 3em;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}
.contact li {
  margin-top: 3em;
}
.hours > ul {
  margin-left: 3em;
}
.hours > ul .label {
  font-size: 1em;
}
.hours li {
  margin-top: 1em;
}
/* ----------------------------- book a flight page ----------------------------- */
.flight_choice {
  background-color: #468ceb;
  border: 1px solid #111437;
}
.form_label {
  color: black;
  font-size: 22px;
  margin-left: 1em;
  margin-right: 1em;
}
.provision {
  display: block;
}
fieldset.provision {
  padding: 10px;
  border-radius: 12px;
  background-color: #b6ff00;
  border: inherit;
  overflow: hidden;
  animation: scaleup 1s forwards;
  /* IE 10+, Fx 29+ */
}
@keyframes scaleup {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 200px;
  }
}
.button.provision {
  width: 100%;
  border: inherit;
  background-color: #73bf00;
  background-image: linear-gradient(#9cda00, #73bf00);
  box-shadow: 0 2px 0 #111437;
}
.wrapper > .regular,
.wrapper > h1,
.wrapper > .flight_choice > div {
  padding: 10px 10px 10px 65px;
}
span.required {
  float: right;
  background-position: 0 0;
  margin-right: 20em;
}
/* -----------------------------    utility     ----------------------------- */
.button {
  position: relative;
  /*so the button pushed down on click*/
  padding: 0.5em 0.5em 0.25em 0.5em;
  border-radius: 9px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #ff6600;
  background-image: linear-gradient(#ffc345, #ff6600);
  box-shadow: 0 2px 0 #813f00;
}
.button:active {
  box-shadow: 0 0 0 #813f00;
  top: 2px;
}
.row {
  width: 100%;
  height: auto;
}
.row > * {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  margin: 2% 4% 2% 0;
}
/* -----------------------------    accordion   ----------------------------- */
.rotate_90 {
  transform: rotate(90deg);
  transition: all 0.5s;
}
.accordionItem {
  position: relative;
  margin-bottom: -13px;
}
.accordionItem h3,
.accordionItem p {
  padding: 12px;
}
.accordionItem h2 {
  margin-left: 32px;
  font-size: 16px;
  color: white;
}
.accordionItem.hide h2 {
  color: #aaeeff;
}
.accordionItem.hide > .hide_tag {
  max-height: 100px;
  padding-bottom: 0;
  background-color: #dfdfdf;
  background-image: linear-gradient(white, white, #dfdfdf);
  transition: all 0.5s ease;
}
.accordionItem > div {
  overflow: hidden;
  max-height: 1000px;
  padding-bottom: 20px;
  border-left: 1px solid #111437;
  border-bottom: 1px solid #111437;
  border-right: 1px solid #111437;
  background-color: white;
  transition: all 0.5s ease;
}
.accordionItem > hgroup {
  padding: 10px;
  background-color: #468ceb;
  /* to associate it with the flights section on the booking page */
  border-radius: 12px 12px 0 0;
  border-left: 1px solid #111437;
  border-top: 1px solid #111437;
  border-right: 1px solid #111437;
}
.accordionItem > hgroup > * {
  display: inline-block;
}
.accordionItem > hgroup:hover {
  cursor: pointer;
}
.accordionItem div.CTA {
  padding-right: 16px;
  padding-bottom: 80px;
}
/* ############################# responsive specific ############################# */
@media screen and (max-width: 1500px) {
  .media {
    width: 40em;
  }
  header {
    height: 115px;
  }
  nav {
    margin-top: 22px;
  }
}
@media screen and (max-width: 1000px) {
  .media {
    width: 30em;
  }
  nav {
    width: 100%;
  }
  .mobile_menu {
    display: block;
    width: 100%;
    padding: 0.5em;
    color: #d5d5d5;
    text-transform: uppercase;
    text-align: right;
    font-size: 1em;
    font-weight: bold;
  }
  .mobile_menu > * {
    vertical-align: middle;
    margin-left: 0.5em;
  }
  .mobile_menu > span {
    display: inline-block;
  }
  header {
    height: auto;
    width: 100%;
    max-height: 590px;
    overflow: hidden;
  }
  header .logo {
    width: 500px;
    height: 100px;
    left: 0;
    margin: 5px 5px 20px 5px;
  }
  header .wrapper {
    width: 100%;
  }
  header .wrapper > * {
    float: none;
  }
  nav {
    position: relative;
    /* mobile menu will break without it*/
    min-width: 100%;
    height: auto;
    vertical-align: bottom;
  }
  nav li {
    width: 100%;
    display: block;
    margin: 0;
  }
  .tab,
  .current {
    display: block;
    text-align: center;
  }
  .tab {
    width: 100%;
    padding: 10px;
    text-transform: uppercase;
    color: #aaeeff;
  }
  .current {
    color: #ff6600;
    background-color: #ededed;
  }
  .footerbase > .wrapper {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 600px) {
  .row > * {
    width: 40%;
    margin: 4% 8% 4% 0;
  }
  .media {
    width: 25em;
  }
  /*----------------------------- about us page -----------------------------*/
  .team li {
    width: 300px;
  }
}
@media screen and (max-width: 500px) {
  header .logo {
    width: 100%;
  }
  footer .social_links {
    margin: 10px;
  }
  /* ----------------------------- home page ----------------------------- */
  .button.CTA {
    font-size: 26px;
    width: 5em;
  }
  div.CTA {
    /* hack for CTA*/
    height: 140px;
  }
  .title {
    font-size: 26px;
  }
  main.home {
    padding-top: 13em;
  }
  .home > div {
    width: 100%;
  }
  .home > img {
    width: 100%;
  }
  /* ----------------------------- gallery page ----------------------------- */
  .media {
    width: 10em;
  }
  /* ----------------------------- contact page ----------------------------- */
  .contact .description {
    display: block;
  }
  /* ----------------------------- book a flight page ----------------------------- */
  .wrapper > .regular,
  .wrapper > h1,
  .wrapper > .flight_choice > div {
    padding: 10px 10px 10px 10px;
  }
}
