<main class="about">
    <h1>about</h1>
    <section class="intro">
      <p>All our planes are owner operated, with safety and maintenance the highest priority.
        Our operators ar all trained in sustainable tourism and share a love of the mountains
        and our peaceful, natural scenery.</p>
    </section>
    <section class="owners">
      <h2>The owners</h2>
      <img src="./images/FTTL_owners_Bruce_and_Olga.png" alt="Fly To The Limit owners Bruce and Olga McKenzie" />
      <p>Fly To The Limit is owned by a husband and wife team, <strong>Olga</strong> and <strong>Bruce</strong> McKenzie.
      BOth born in Southland, travelled extensively, both have commercial pilots liscences
      with 19 and 9 years respecively flying for Middle eastern airlines.</p>
      <P>They own and opperate a Cessna Caravan Amphibian which can take up to 7
      people to any remote lake in the area. <br>
      They also own a DG Flugzeugbau DG-1001s with a Cessna	Turbo	Stationair to tow it.
      The Cessna is also available for custom scenic tours.
  </P>
    </section>
    <section class="team">
      <h2>The team</h2>
      <ul>
        <li>
          <h3>Finn McCool</h3>
          <img src="./images/staff_Finn_McCool.jpg" alt="staff pilot Finn McCool" />
          <p>Stunt pilot with the Red Arrows (UK airforce stunt team), has served in combat choppers in 3 recent wars,
            and fears nothing except small dogs and single women. Owns an Extra EA-200 for the ultimate full stunt flight
             experience, and flies all our other fixed wing craft much more sedately when required. And, yes, that is his
             real name. He's Irish and he doesn't  want to talk about it.
          </p>
        </li>
        <li>
          <h3>Wendy "Dropper" Gilhallen</h3>
          <img src="./images/staff_Wendy_Dropper_Gilhallen.jpg" alt="staff pilot Wendy Dropper Gilhallen" />
          <p>13 years commercial pilot in Africa, Russia and South America,
              during which she survived 3 crashes (none her own fault, she maintains).
              Owns a Cessna-127Skyhawk P that is ideal for low level sight seeing, rides
              a Harley and is a ski instructor during the season.
          </p>
        </li>
        <li>
          <h3>John "Doc" Holliday</h3>
          <img src="./images/staff_John_Doc_Holliday.jpg" alt="staff pilot John Doc Holliday" />
          <p>With over 10,000 hours piloting helicopters in the bush and mountains of the Southern Alps for deer
             recovery and mountain rescue operations, Doc is well qualified to land you and your friends
            in remote parts of the country that only he  knows about. He'll help you plot your route, drop extra provisions
            where you want them, and will pick you up when you're done.
          </p>
        </li>
        <li>
          <h3>Hans Gerhansen</h3>
          <img src="./images/staff_Hans_Gerhansen.jpg" alt="staff pilot Hans Gerhansen" />
          <p>Hans has flown almost everything there is to fly. He first took the controls of a small plane at 12 years old,
            and flew solo when he was 14. After a few years flying "anything, anywhere" he settled into a series of test
            pilot jobs, but left that because he prefers company when he's in the air. Hans doesn't actually own his own plane right now,
            unless you count the microlight, but you will find him in the pilot's seat of any of our aircraft. When he's not skiing, tramping,
            climbing, hang gliding, or performing with his backup band at a local hotel.
          </p>
        </li>
      </ul>
    </section>
</main>
