<main class="book">
    <form action="">
       <div class="wrapper">
            <h1>book a flight</h1>
            
            <section class="regular">
                <p>Found a flight your interested in? <br><br> Fill out the form below to book your flight.</p>
                <input name="first name" class="required" placeholder="first name" type="text"><span class="required">&nbsp;&nbsp;= required.</span>
                <input name="last name" class="required" placeholder="last name" type="text">
                <input name="phone" class="required" placeholder="phone number" type="text">
                <input name="email" class="required" placeholder="email address" type="text">
            </section>
           
            <section class="regular">
                <textarea name="details" placeholder="flight details" type="text" class="required"></textarea>
                <button type="submit" class="button">submit</button>
            </section>
        </div>
    </form>
</main>
