<main class="contact">
<script src="https://maps.googleapis.com/maps/api/js"></script>
   <div id="map-canvas"></div>
   <div class="wrapper input">
     <label >Select a location:</label>
     <select name="locations" id="locations" size="1">
         <option value="queenstown">Queenstown airfield</option>
         <option value="wanaka">Wanaka airfield</option>
         <option value="wellington">Wellington office</option>
     </select>
  </div>
   <Section class="info wellington">
     <h1>Wellington office</h1>
     <ul>
          <li class="address">
              <span class="label">address</span><span class="description">2 Chews Lane, Wellington</span>
          </li>
          <li class="hours">
            <span class="label">opening hours</span>
              <ul>
                  <li class="opens">
                      <span class="label">opens</span><span class="description">12am</span>
                  </li>
                  <li class="closes">
                      <span class="label">closes</span><span class="description">2pm</span>
                  </li>
              </ul>
          </li>
          <li class="phone">
              <span class="label">phone</span><span class="description">028824429</span>
          </li>
          <li class="email">
              <span class="label">email</span><span class="description">general_inquiries@fttl.nz</span>
          </li>
      </ul>
    </Section>
    <Section class="info wanaka">
      <h1>Wanaka airfield</h1>
      <ul>
           <li class="address">
               <span class="label">address</span><span class="description">83 Studholme Rd, Wanaka</span>
           </li>
           <li class="hours">
             <span class="label">opening hours</span>
               <ul>
                   <li class="opens">
                       <span class="label">opens</span><span class="description">11am</span>
                   </li>
                   <li class="closes">
                       <span class="label">closes</span><span class="description">7pm</span>
                   </li>
               </ul>
           </li>
           <li class="phone">
               <span class="label">phone</span><span class="description">035526628</span>
           </li>
           <li class="email">
               <span class="label">email</span><span class="description">inquiries_wanaka@fttl.nz</span>
           </li>
      </ul>
     </Section>
     <Section class="info queenstown">
       <h1>Queenstown airfield</h1>
       <ul>
           <li class="address">
               <span class="label">address</span><span class="description">284 Kingston Rd, Queenstown</span>
           </li>
           <li class="hours">
             <span class="label">opening hours</span>
               <ul>
                   <li class="opens">
                       <span class="label">opens</span><span class="description">10am</span>
                   </li>
                   <li class="closes">
                       <span class="label">closes</span><span class="description">6pm</span>
                   </li>
               </ul>
           </li>
           <li class="phone">
               <span class="label">phone</span><span class="description">044424428</span>
           </li>
           <li class="email">
               <span class="label">email</span><span class="description">inquiries_queenstown@fttl.nz</span>
           </li>
         </ul>
      </Section>
</main>
