<main class="flights">
    <H1>flights</H1>
    <section class="accordionItem" >
        <hgroup>
            <div class="arrow_right"></div>
            <h2>scenic flights</h2>
        </hgroup>
        <div>
          <img srcset="./images/Lake_tekapo_scenic.jpg 1920w,./images/Lake_tekapo_scenic_mobile.jpg 400w" src="./images/Lake_tekapo_scenic.jpg" sizes="(max-width: 320)100vw:400px" alt="Scenic flight over lake Tekapo."></img>
            <p>
                Take in the sights of New Zealand from above. We have a range of scenic flights in both fixed wing planes and heicopters available.
                From a helicopter tour of Lake Wakatipu to the most peaceful flight expierience possible in a glider high above the mountains of the Southern Alps.
            </p>
            <div class="CTA">
                <a href="./bookaflight.html" class="CTA button">book flight!</a>
            </div>
        </div>
    </section>

    <section class="accordionItem" >
        <hgroup>
            <div class="arrow_right"></div>
            <h2>aerobatic flights</h2>
        </hgroup>
        <div>
          <img srcset="./images/Extra_300-stefano_demurtas.jpg 1920w,./images/Extra_300-stefano_demurtas.jpg 400w" src="./images/Extra_300-stefano_demurtas.jpg" alt="Aerobatic flight in the Extra 300 stunt plane."></img>
            <p>
              Experience adrenaline pumping aerobatics in a high adventure stunt plane flight piloted by the infamous <a href="./about.html">Finn McCool</a>. You'll experience break-neck speeds, and
              death defying aerobatic maneuvers that will make the immelman turn look tame!
            </p>
            <div class="CTA">
                <a href="./bookaflight.html" class="CTA button">book flight!</a>
            </div>
        </div>
    </section>

    <section class="accordionItem" >
        <hgroup>
            <div class="arrow_right"></div>
            <h2>lake trips</h2>
        </hgroup>
        <div>
          <img srcset="./images/Phyllis_anataresy_lake-view.jpg 1920w,./images/Phyllis_anataresy_lake-view_mobile.jpg 400w" src="./images/Phyllis_anataresy_lake-view.jpg" alt="Flight "></img>
            <p>
              Discover the untouched and remote lakes of Fiordland in our Cessna Caravan Ampibian. Perfect for a romantic getaway or the nature lover at heart.
            </p>
            <div class="CTA">
                <a href="./bookaflight.html" class="CTA button">book flight!</a>
            </div>
        </div>
    </section>

    <section class="accordionItem" >
        <hgroup>
            <div class="arrow_right"></div>
            <h2>charters</h2>
        </hgroup>
        <div>
          <img srcset="./images/Kathrin_marks-Tramping.jpg 1920w,./images/Kathrin_marks-Tramping_mobile.jpg 400w" src="./images/Kathrin_marks-Tramping.jpg" alt="Flight "></img>
           <h3>chartering</h3>
            <p>
              Going bush? We specialize in one-off charters, and delivery and pickup for trampers. Our pilot <a href="./about.html">John "Doc" Holliday</a>, with 10,000 hours piloting helicopters for deer recovery,
              knows the bush and mountains of the Aouthern Alps like the back of his hand.
            </p>
            <h3>provisioning</h3>
            <p>
              We also provide a provisioning service for fresh supplies during long excursions, so you can focus on the adventure.
            </p>
            <div class="CTA">
                <a href="./bookaflight.html" class="CTA button">book flight!</a>
            </div>
        </div>
    </section>

    <section class="accordionItem" onCLick="accordion.toggleItem()">
        <hgroup>
            <div class="arrow_right"></div>
            <h2>photographic and cinematographic flights</h2>
        </hgroup>
        <div>
          <img srcset="./images/Jon_Sullivan_mountcook-photography.jpg 1920w,./images/Jon_Sullivan_mountcook-photography_mobile.jpg 400w" src="./images/Jon_Sullivan_mountcook-photography.jpg" alt="Flight "></img>
            <p>
              For photographic and cinematographic professionals and enthusiasts we have a variety of flight options available. Doors can be removed (by arrangement) for professional assignments.
            </p>
            <div class="CTA">
                <a href="./bookaflight.html" class="CTA button">book flight!</a>
            </div>
        </div>
    </section>
</main>
