<main class="gallery">
<h1>media gallery</h1>
<div class="row">
    <img src="./images/Cessna206hstationair2_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/Cessna206hstationair2.jpg">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
</div>
<div class="row">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
</div>
<div class="row">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
    <img src="./images/DG1000_glider_mobile.jpg" alt="The DG1000 glider soaring through the sky." value="./images/DG1000_glider.jpg">
</div>
</main>
