<main class="home">
    <img srcset="./images/Cessna206hstationair2_small.png 1920w,./images/Cessna206hstationair2_small_mobile.png 400w" src="./images/Cessna206hstationair2_small.png" sizes="(max-width: 320)400px : 100vw" alt="Cessna plane" />

    <div>
        <p><strong class="title">Fly To The Limit</strong> is a startup airline operating out of Wanaka and Queenstown offering the best in adventure and scenic flights.
        </p>
        <div class="CTA">
            <a href="./bookaflight.html" class="CTA button">book flight!</a>
        </div>
    </div>
</main>
